
html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
	margin-left: -64px;
	position: absolute;
	top: 36px;
	width: 128px;
	height: 128px;
}

.logistration {
	margin-top: 100px;
	align: center;
	background-color: #F5F5F7;
	box-shadow: 0px 0px 50px #646568;
}

.title{
	margin-top: 64px;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button.login {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button.register {
	background-color: #ff3300;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.container {
	padding: 10px;
}

div.project {
	margin-top: 64px;
	font-family: "Georgia";
	font-size: 20px;
}

div.enda {
	font-family: "Georgia";
	font-size: 50px;
	font-style: bold;
}

p.subtext {
	font-style: italic;
}

div.social {
	margin-top: 20px;
}
